@page "/auth/signin"
@model LoginModel

@{
}
@{
    ViewData["Title"] = "Signin";
}
<div class="signin-row">
    <div class="signin-col-md-4">
        <section class="sign-in">
            <div class="signin-container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="~/images/auth/signin-image.jpg" alt="sing up image"></figure>
                        <a href="/auth/signup" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="signin-form-title">Sign in</h2>
                        <form method="POST" class="signin-register-form" id="login-form">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <div class="signin-form-group">
                                <label asp-for="Input.Email"><i
                                        class="zmdi zmdi-account material-icons-name"></i></label>
                                <input asp-for="Input.Email" class="signin-form-control" autocomplete="username"
                                    aria-required="true" placeholder="Your Email" />
                            </div>
                            <div class="signin-form-group">
                                <label asp-for="Input.Password"><i class="zmdi zmdi-lock"></i></label>
                                <input asp-for="Input.Password" class="signin-form-control"
                                    autocomplete="current-password" aria-required="true" placeholder="Password" />
                            </div>

                            <div class="signin-form-group">
                                <input asp-for="Input.RememberMe" type="checkbox" class="signin-agree-term" />

                                <label asp-for="Input.RememberMe"
                                    class="signin-label-agree-term"><span><span></span></span>@Html.DisplayNameFor(m =>
                                    m.Input.RememberMe)</label>

                            </div>

                            <div class="signin-form-group">
                                <a href="/auth/forgot-password" class="signin-link-left-dark signin-text-sm">Forgot your
                                    password?</a>
                            </div>
                            <div class="signin-form-group signin-form-button">
                                <input type="submit" name="signin" id="signin" class="signin-form-submit"
                                    value="Log in" />
                            </div>

                        </form>
                        <hr />
                        <div class="signin-social-login">
                            <partial name="_ExternalLoginPartial"></partial>
                        </div>
                    </div>
                </div>
        </section>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
