@page "/category"
@model PersonalMoney.Pages.Categories.IndexModel
@{
    <nav>
        <ol class="breadcrumb" style="cursor: pointer;">
            <li class="breadcrumb-item">Settings</li>
            <li class="breadcrumb-item active"><a href="/category">Categories</a></li>
        </ol>
    </nav>
    <div class="main-content" style="padding-top: 16px; min-height: 100vh;">
        <div class="section__content section__content--p30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h3 class="title-5 m-b-35">Category List</h3>
                        <hr>
                        <button class="au-btn au-btn-icon au-btn--green m-3">
                            <a style="color: white" href="/Categories/create" class="zmdi zmdi-plus">Add new Category</a>
                        </button>
                        <table class="table table-hover text-center">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Type</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var category in Model.ListCategories)
                                {
                                    <tr class="tr-shadow">
                                        <td>@category.Name</td>
                                        <td>@(category.IsIncome ? "Income" : "Expense")</td>
                                        <td>
                                            <div class="action-buttons">
                                                <button type="button" class="btn btn-warning">
                                                    <a style="color:white" href="/Categories/edit?id=@category.Id">Edit</a>
                                                </button>
                                                <button type="button" class="btn btn-danger">
                                                    <a style="color:white" href="/Categories/delete/@category.Id">Delete</a>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>

                        <div class="card-body">
                            <div class="pagination">
                                @if (Model.TotalPages > 1)
                                {
                                    @for (int i = 1; i <= Model.TotalPages; i++)
                                    {
                                        <a href="?page=@i" class="btn @(i == Model.CurrentPage ? "btn-primary" : "btn-secondary")">@i</a>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
